
.form__input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #2c3e50;
    margin-right: 10px;
    letter-spacing: 2px;
    width: 10%;
    padding: 0.4rem;
  }
  
  .form__button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
  }

  
input[type="text"] { 
    outline: none;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
    -webkit-text-fill-color: #2c3e50 !important;
  }